header{
    background-color: red;
}


#macro-numbers{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  
}

.form-row{
    display: flex;
    align-items: center;
}
.form-input {
    list-style: none;
    padding: 15px;
    height: calc(100% - 50px);
    background: rgb(196, 196, 196);
    border-radius: 12px;
    border: 2px solid var(--grey);
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;


  }

/* .generate-recipe{
     
   
        color: rgb(255, 255, 255); font-size: 20px; 
        line-height: 20px; 
        padding: 20px; 
        border-radius: 36px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal;
        text-transform: none; 
        background-image: linear-gradient(to right, rgb(23, 164, 19) 0%, rgb(11, 117, 31) 100%); 
        box-shadow: rgba(136, 218, 255, 0.68) 0px 2px 15px 0px; 
        border: 2px solid rgb(28, 110, 164);
        display: inline-block;
        
        background: #17A413; 
        
        background: #0B751F; 
        
    -moz-transform: translate(200px, 1px);
    -webkit-transform: translate(200px, 1px);
    -o-transform: translate(200px, 1px);
    -ms-transform: translate(200px, 1px);
    transform: translate(400rpx, 1px);
} */

/* .macros {
    -moz-transform: translate(200px, 1px);
    -webkit-transform: translate(200px, 1px);
    -o-transform: translate(200px, 1px);
    -ms-transform: translate(200px, 1px);
    transform: translate(10px, 1px);
} */

.container{
    size: 100px;
}

.name{
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}

#dayNameSun{
    border-bottom: 3px solid black
}

.breakfast{
    border-right: 3px solid black;
    border-top: 3px solid black
}

#breakfastSun{
    border-bottom: 3px solid black;
}

.lunch{
    border-right: 3px solid black;
    border-top: 3px solid black
}

#lunchSun{
    border-bottom: 3px solid black;
}

.dinner{
    border-right: 3px solid black;
    border-top: 3px solid black
}

#dinnerSun{
    border-bottom: 3px solid black;
}

.top-title{
    text-align: center;
}

.title-row{
    height: 40px
}

h3{
    color: red;
   
}

.form-div{
    padding: 50px 0px 150px 75px;
}

.generate-div{
    padding: 50px 0px 150px 75px;
}



